:host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

app-header {
    flex: 0 0 auto;
}

router-outlet {
    flex: 1 0 auto;
    display: block;
}

app-footer {
    flex: 0 0 auto;
}